# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# IDE/editor settings
.vscode/
.idea/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Test results
*.pytest_cache/
.cache/

# Allure reports (if you're using them)
allure-report/
allure-results/

